.brands__image--div {
    gap: 1.25rem;
}

.brands__second--div img {
    max-height: 22.125rem;
    width: 100%;
}

.brands__image--div {
    cursor: pointer;
}

.brands__second--div {
    /* display: grid; */
    grid-auto-columns: 1fr;
    grid-template-areas: 'one'
        'two'
        'three'
        'four   ';
}

.brands__second--div div:nth-child(1) {
    grid-area: one;
}

.brands__second--div div:nth-child(2) {
    grid-area: two;
}

.brands__second--div div:nth-child(3) {
    grid-area: three;
}

.brands__second--div div:nth-child(4) {
    grid-area: four;
}



@media (min-width:460px) {
    .brands__second--div {
        grid-template-areas: 'one two'
            'three four';

    }

    .brands__second--div img {
        max-height: 17.125rem;
    }
}




@media (min-width:860px) {
    .brands__second--div {
        grid-template-areas: 'one two three four';
    }

    .brands__second--div img {
        min-height: 21rem;
        max-height: 2rem;
    }
}

@media (min-width:1080px) {
    .brands__name__desc--div {
        display: flex;
        justify-content: space-between;
    }

    .brands__name__desc--div h2 {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .brands__name__desc--div p {
        max-width: 40rem;
    }
}

.brands__name__desc--div {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.brands__name__desc--div.fade {
    opacity: 0;
}